ion-header ion-toolbar {
  --border-width: 0px; 
  --background: black;
}

ion-header .done {
  font-weight: 600;
  --color: white;
  --opacity: 1;
}

ion-header .more {
  font-size: 28px;
}

.mini-card-wrapper {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  
  opacity: 1;

  transform-origin: top;
  transform: translateY(-34px) scale(0.12);
}

.mini-card-wrapper.hidden {
  opacity: 0;
  transform: translateY(0px) scale(0.12);
}

ion-content {
  --padding-bottom: 20px;
}

ion-list-header,
ion-list {
  padding: 0;
  margin: 0 !important;
}

ion-list-header {
  font-size: 22px;

  color: white;
}

ion-list {
  border-radius: 10px !important;
}

ion-item {
  --padding-start: 12px;
  --padding-top: 6px;
  --padding-bottom: 10px;
}

ion-item .transaction-info {
  width: 100%;
}

ion-item .vendor {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

ion-item .location,
ion-item .date {
  color: rgba(255, 255, 255, 0.7);

  font-size: 15px;
  line-height: 20px;
}

ion-item .transaction-detail {
  align-items: center;
  display: flex;
  
  margin-top: -36px; 
}

ion-item .transaction-detail .price {
  font-size: 16px;
}

ion-item .transaction-detail ion-icon {
  color: rgba(255, 255, 255, 0.3);
  
  margin-left: 8px;
  
  font-size: 20px;
}