ion-content {
  --padding-top: calc(50px + var(--ion-safe-area-top));
}

.header {
  position: relative;
}

.header .modal-close {
  pointer-events: none;

  position: absolute;
  left: 0;
  
  transform-origin: top left;
  opacity: 0;

  font-weight: 600;
  margin: 0;

  --color: white;
}

.header .modal-more {
  pointer-events: none;
  
  position: absolute;
  right: 0;
  
  transform-origin: top right;
  opacity: 0;

  font-size: 28px;
  margin: 0;  
}

ion-title {
  position: relative;
  height: auto;
  
  padding: 0;
  
  width: 150px;
  min-width: auto;
  
  transform-origin: top left;
}

.add-to-wallet {
  font-size: 32px;

  margin: 8px 0;
  
  transform-origin: top right;
}

.add-to-wallet:active {
  opacity: 0.7;
}

.card-groups, .pass-groups {
  position: relative;
  
  margin-top: 10px;

  z-index: 1;
}

card-group {
  width: 100%;

  transform-origin: top;
}